<div ng-controller="adminOrdersController">
    <table class="table table-striped table-bordered">
        <tr>
            <th>이름</th>
            <th>주소</th>
            <th>합계</th>
            <th>&nbsp;</th>
        </tr>
        <tr ng-repeat="order in orders">
            <td>{{order.name}}</td>
            <td>{{order.address}}</td>
            <td>{{calcTotal(order) | currency:"&#x20A9":0}}</td>
            <td>
                <a class="btn btn-xs btn-primary" ng-click="selectOrder(order)">
                    주문상세
                </a>
            </td>
        </tr>
    </table>
    <div ng-show="selectedOrder">
        <h3>주문 상세</h3>
        <table class="table table-striped table-bordered">
            <tr>
                <th>상품명</th>
                <th>단가</th>
                <th>수량</th>
            </tr>
            <tr ng-repeat="product in selectedOrder.products">
                <td>{{product.name}}</td>
                <td>{{product.price | currency:"&#x20A9":0}}</td>
                <td>{{product.count}}</td>
            </tr>
        </table>
    </div>
</div>